<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home-page</title>
<link th:href="@{/css/home.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div id="header">
            <ul class="nav">
                <button type="button" class="buttons" onclick="post()">Post</button>
                <button type="button" class="buttons" onclick="search()" >Search</button>
                <button type="button" class="buttons" onclick="logout()">Logout</button>
            </ul>
        </div>
        <div class="content">
            <h2 class="headertext" >Timeline</h2>
            <ul>
                <li class="post" th:each="p : ${posts}">
                    User&nbsp;<span th:text="${p.user.username}"></span>&nbsp;Posted:&nbsp; <span th:text="${p.content}"></span>&nbsp;&nbsp;Post-date:&nbsp;<span th:text="${p.getFormattedDate()}"></span>
                </li>
            </ul>
        </div>
    </div>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>
