<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark/dark.css" rel="stylesheet">
    <script src="script.js" defer></script>
    <script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">

        <div class="card">
            <div class="card-front" id="front">
                <h2 class="header">Login</h2>
                <form id="loginForm">
                    <label class="formname" for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                    <br>
                    <label class="formname" for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                    <br>
                    <button type="button" id="loginBtn">Login</button>
                    <p class="dont-have-account">Don't have an account? <a href="#" id="showRegisterBtn">Sign up</a></p>
                </form>
            </div>
            <div class="card-back" id="back">
                <h2 class="header">Register</h2>
                <form id="registerForm">
                    <label class="formname" for=" newUsername">New Username:</label>
                    <input type="text" id="newUsername" name="newUsername" required>
                    <br>
                    <label class="formname" for="newPassword">New Password:</label>
                    <input type="password" id="newPassword" name="newPassword" required>
                    <br>
                    <button type="button" id="registerBtn">Register</button>
                    <p class="dont-have-account">Already have an account? <a href="#" id="showLoginBtn">Sign in</a></p>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
</body>
</html>